<% company_passage_personnel_precedent = company.company_passages.find { |passage| passage.user == current_user } %>
<% compteur_passage = company.company_passages.count %>

<div id="profile_pousse_homepage_partial">

<!-- TESTS -->
  <p><%= company_companypassages_path(company) %></p>
  <p><%= company_companypassage_path(company, company_passage_personnel_precedent) if company_passage_personnel_precedent %></p>


  <h1><%= company.nom %></h1>
  <p><%= compteur_passage %><%= compteur_passage <= 1 ? " citoyen connait" : " citoyens connaissent" %></p>

<!-- BOUTON PASSAGE -->
<!-- lien company - current_user exist ? ==> bouton initial différent -->
  <% if company_passage_personnel_precedent %>
    <%= button_to 'Inconnue', company_companypassage_path(company, company_passage_personnel_precedent), {class:'bouton-company_passage btn btn-info company-inconnue', method: :delete} %>
    <!-- , remote: true -->
  <% else %>
    <%= button_to 'Connue', company_companypassages_path(company), {class:"bouton-company_passage btn btn-info company-connue",  method: :post} %>
    <!-- , remote: true -->
  <% end %>


</div>
