
<div id="corps">
  <%= link_to "#", class:"home-access-button" do %>
    <div class="home-recherche-button">
      <!-- <p>E</p><p>Q</p><p>U</p><p>I</p><p>P</p><p>E</p> -->
    </div>
  <% end %>
  <div class="row">

    <div class="col-6">

      <div id="map" data-company_around_markers="<%= @companies_around_markers.to_json %>" data-center_address_marker="<%= @personnal_address_marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div id="liste_pousses_locales">
        <% if @companies_around.empty? %>
          <div id="aucune_entreprises_autour">
            <p>Pas encore de pousses dans le coin ..</p>
            <p>Ramener les associations et les entreprises (entreprise française, moins de 10 salariés et non franchisée) pour aider leur visibilité locale</p>
          </div>
        <% else %>
          <% if @companies_around_grouped.count <= 5 %>

            <div class="liste_entreprises_autour">
              <% @companies_around_grouped.each do |entreprise| %>
                <%= link_to company_path(entreprise), remote: true do %>
                  <div class="company_home_item" data-company_id="<%= entreprise.id %>">
                    <div><%= image_tag(entreprise.category.icon, class: "company_home_item_icon") %></div>
                    <div><%= entreprise.nom %></div>
                  </div>
                <% end %>
              <% end %>
            </div>

          <% else %>

            <div class="liste_entreprises_autour">
              <% @companies_around_grouped[0...5].each do |entreprise| %>
                <%= link_to company_path(entreprise), remote: true do %>
                  <div class="company_home_item" data-company_id="<%= entreprise.id %>">
                    <div><%= image_tag(entreprise.category.icon, class: "company_home_item_icon") %></div>
                    <div><%= entreprise.nom %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="liste_entreprises_autour">
              <% @companies_around_grouped[5...10].each do |entreprise| %>
                <%= link_to company_path(entreprise), remote: true do %>
                  <div class="company_home_item" data-company_id="<%= entreprise.id %>">
                    <div><%= image_tag(entreprise.category.icon, class: "company_home_item_icon") %></div>
                    <div><%= entreprise.nom %></div>
                  </div>
                <% end %>
              <% end %>
            </div>


          <% end %>
        <% end %>
      </div>

    </div>


    <div class="col-6 right-home-column">
      <div id="profile-pousse-homepage" >
        <% if @companies_around.empty? %>
          <div id="aucune_pousse_profil">
            <p>êtes vous dans un désert ?</p>
          </div>
        <% else %>
          <%= render @random_company_around %>
        <% end %>
      </div>

    </div>


  </div>
  <%= link_to team_memberships_path, class:"home-access-button" do %>
    <div class="home-team-button">
      <p>E</p><p>Q</p><p>U</p><p>I</p><p>P</p><p>E</p>
    </div>
  <% end %>
</div>


<% content_for :after_js do %>
  <script>
  <% @companies_around.each do |company| %>
      scrollLastPublicationIntoView();
      // focusOnWrittingMessage();
      App['pousse_publication_<%= company.id %>'] = App.cable.subscriptions.create(
        { channel: 'PoussePublicationChannel', pousse_publication_id: <%= company.id %> },
        {
          received: (data) => {
            console.log(data);
            if (data.current_user_id !== <%= current_user.id %> & data.publications_pouss.id == <%= company.id %>) {
              console.log(data.publications_pouss.id);
              const publicationsContainer = document.querySelector('[data-company-id="<%= company.id %>"] .home-company-publications');
              if(publicationsContainer){
                publicationsContainer.insertAdjacentHTML('beforeend', data.publication_partial);
                scrollLastPublicationIntoView();
              }
            }
          }
        }
      )

  <% end %>
  </script>
<% end %>

