<div class="row" style="flex: 1 1 auto;" >


  <div class="col-6">

    <div id="map" style="width:100%; height: 67%;" data-company_around_markers="<%= @companies_around_markers.to_json %>" data-personnal_address_marker="<%= @personnal_address_marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div id="liste_pousses_locales" style="width: 100%; height: 33%; display: flex; align-items: center; justify-content: space-around;">
      <% if @companies_around.empty? %>
        <div id="aucune_entreprises_autour">
          <p>Pas encore de pousses dans le coin ..</p>
          <p>Ramener les associations et les entreprises (entreprise française, moins de 10 salariés et non franchisée) pour aider leur visibilité locale</p>
        </div>
      <% else %>
        <div id="liste_entreprises_autour">
        <% @companies_around.each do |entreprise| %>
          <p><%= entreprise.nom %></p>
        <% end %>
        </div>
      <% end %>
    </div>

  </div>


  <div class="col-6">

    <div id="profile_pousse_homepage" >
      <% if @companies_around.empty? %>
        <div id="aucune_pousse_profil">
          <p>êtes vous dans un désert ?</p>
        </div>
      <% else %>
        <%= render @random_company_around %>
      <% end %>
    </div>

  </div>


</div>
