<div>
  <div class="row">
    <div class="col-6">
      <h4>Companies:
        <p>entreprises totales: <%= @companies_test.count %></p>
        <% @companies_test.each do |company| %>
          <p>nom:<%= company.nom %>, user:<%= company.users.first.first_name unless company.users.first.nil? %>, participations:<%= company.participations.count %></p>
        <% end %>

      <h4>Participations:</h4>
        <p>participations totales: <%= @participations_test.count %></p>
        <% @participations_test.each do |participation| %>
          <p>user:<%= participation.user.first_name %>, pousse:<%= participation.pouss.nom %>, statut:<%= participation.statut %>, admin:<%= participation.admin %></p>
          <% if participation.admin %>
            <h1>HELLO</h1>
          <% end %>
        <% end %>

      <h1>Pages#home</h1>
      <% user = current_user %> <% company = Company.all.last %>

        <p>nombre participations du citoyen:<%= user.participations.count %></p>
        <p>nombre de pousses du citoyen: <%= user.pousses.count %></p>
        <p>nombre d'entreprises du citoyen: <%= user.companies.count %></p>

        <p>nombre de participations de la dernière entreprise: <%= company.participations.count %></p>
        <p>nombre de citoyens participants à l'entreprise: <%= company.users.count %></p>

        <p>nom de la dernière entreprise dont participe citoyen: <%= user.participations.last.pouss.nom %></p>
        <p>nom de la dernière personne participant dernière entreprise: <%= company.participations.last.user.first_name %></p>

      <%= link_to "Créer votre entreprise", new_company_path %>

      <p>Bla bla bla</p>
      <p><%= current_user.present? %></p>
      <p><%= current_user.first_name %></p>
      <p><%= current_user.last_name %></p>
      <p><%= current_user.town %></p>
      <p><%= current_user %></p>
      <p><%= current_user.latitude %></p>
    </div>

    <div class="col-6">
      <div id="map" style="width:100%; height: 80%;" data-markers="<%= @personnal_town_marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

</div>

<div class = "container">
  <div class = "row">
    <p>Quartiers préférés de London:</p>
  </div>

  <div class="row justify-content-around">
    <div class="col-10">
      <div class="d-flex justify-content-around align-items-center">
        <div><%= cl_image_tag("dmsqbmcjwpaidnqrhsph", width:300, height: 300, crop: :fit) %></div>
        <div><%= cl_image_tag("uyvcdvzqbzaht6qe5uio", width:300, height:300, crop: :fit) %></div>
      </div>
    </div>
  </div>
</div>





<div class="navbar bg-white py-3 px-4">
  <i class="fas fa-smile"></i>
  <div class="nav-bar-right d-flex align-items-center">
    <%= link_to "Profile", "#", class: "px-3 d-none d-sm-block" %>
    <%= link_to "Dashboard", "#", class: "px-3 d-none d-sm-block" %>
    <%= link_to "Login", "#", class: "px-3 d-none d-sm-block" %>
    <div class="dropdown  d-none d-sm-block">
      <%= image_tag "http://www.placehold.it/40x40", class: "rounded-circle px-3", alt:"avatar", type: "image", id: "dropdownMenuButton", data: { toggle:"dropdown" }, aria: { haspopup:"true", expanded: "false" } %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
        <%= link_to "Something else here", "#", class: "dropdown-item" %>
      </div>
    </div>
  </div>
  <div class="dropdown burger d-block d-sm-none">
    <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
     <%= link_to "Action", "#", class: "dropdown-item" %>
     <%= link_to "Another action", "#", class: "dropdown-item" %>
     <%= link_to "Something else here", "#", class: "dropdown-item" %>
   </div>
 </div>
</div>

