<!-- declarations variables -->
<% company_passage_personnel_precedent = company.company_passages.find { |passage| passage.user == current_user } %>
<% compteur_passage = company.company_passages.count %>


<div id="profile-pousse-homepage-partial">

  <div id="cover-company-profil">
    <%= cl_image_tag(company.photo, id: "cover-company-profil-image") %>
  </div>

  <div id="company-profil-header">
    <div>
      <h2><%= company.nom %></h2>
      <p><%= company.category.name %> (<%= company.address.split(",")[1].strip.capitalize %>)</p>
    </div>
    <div id="company-category-icon">
      <%= image_tag(company.category.icon, class:"company-category-icon-image") %>
    </div>
  </div>


  <div id="company-profil-information-container">
    <div id="presentation-profil-entreprise">
      <p><%= simple_format(company.presentation) %></p>
    </div>
    <div class="preuve-sociale-pousse">
      <!-- BOUTON PASSAGE -->
      <div class="">
        <% if company_passage_personnel_precedent %>
          <%= link_to 'Inconnue', company_companypassage_path(company, company_passage_personnel_precedent), {class:'bouton-company_passage bouton-je-ne-connais', method: :delete, remote: true} %>
        <% else %>
          <%= link_to 'Connue', company_companypassages_path(company), {class:"bouton-company_passage bouton-je-connais",  method: :post, remote:true} %>
        <% end %>
      </div>
      <!-- COMPTEUR PREUVE SOCIALE -->
      <p class='compteur_preuve_sociale' ><%= compteur_passage %><%= compteur_passage <= 1 ? " citoyen connait" : " citoyens connaissent" %> cette pousse !</p>
    </div>
  </div>


</div>
