<!-- declarations variables -->
<% company_passage_personnel_precedent = company.company_passages.find { |passage| passage.user == current_user } %>
<% compteur_passage = company.company_passages.count %>
<% already_in_team = current_user.team_memberships.find{|tm| tm.pouss == company} %>


<div id="profile-pousse-homepage-partial" data-company-id="<%= company.id %>" >

  <div id="cover-company-profil">
    <%= cl_image_tag(company.photo, id: "cover-company-profil-image") %>
  </div>

  <div id="company-profil-header">
    <div class="home-add-team">
      <% if already_in_team %>
        <%= link_to team_membership_path(already_in_team), remote: true, method: :delete do %>
          <div class="remove-company-team">+</div>
        <% end %>
      <% else %>
        <%= link_to company_team_memberships_path(company), remote: true, method: :post do %>
          <div class="add-company-team">+</div>
        <% end %>
      <% end %>
    </div>
    <div id="company-profil-id">
      <h2><%= company.nom %></h2>
      <p><%= company.category.name %> (<%= company.address.split(",")[1].strip.capitalize %>)</p>
    </div>
    <div id="company-category-icon">
      <%= image_tag(company.category.icon, class:"company-category-icon-image") %>
    </div>
  </div>


    <!-- <div id="company-profil-information-container"> -->
  <div id="information-container-row" class="row" >
    <div class="presentation-profil-entreprise col-7" >
      <p><%= simple_format(company.presentation.strip) %></p>
    </div>
    <div class="preuve-sociale-pousse col-5">
      <!-- BOUTON PASSAGE -->
      <div class="">
        <% if company_passage_personnel_precedent %>
          <%= link_to 'Je connais', company_companypassage_path(company, company_passage_personnel_precedent), {class:'bouton-company_passage bouton-je-ne-connais', method: :delete, remote: true} %>
        <% else %>
          <%= link_to 'Je connais', company_companypassages_path(company), {class:"bouton-company_passage bouton-je-connais",  method: :post, remote:true} %>
        <% end %>
      </div>
      <!-- COMPTEUR PREUVE SOCIALE -->
      <p class='compteur_preuve_sociale' ><%= compteur_passage %><%= compteur_passage <= 1 ? " citoyen connait" : " citoyens connaissent" %> cette pousse !</p>
    </div>
  </div>

  <div class="home-company-publication">
    <div class="home-company-publications">
      <% company.publications.order(:created_at).select(&:visible).each do |publication| %>
        <%= render "publications/publication", publication: publication, user_is_publication_author: current_user == publication.user, author_is_company_admin: publication.pouss.users.include?(publication.user), publication_is_major: publication.major_publication, class:"publication" %>
      <% end %>
    </div>
    <div class="create-publication">
      <%= simple_form_for [ company, Publication.new ], remote: true do |f| %>
        <% if company.users.include?(current_user) %>
          <div class="row last-company-profil-row">
            <div class="col-8">
              <%= f.input :content, label: false, placeholder: "Écrivez & Appuyez Sur Entrée" %>
            </div>
            <div class="col-4 major-publication-input">
              <p>Nouvelle Publication ?</p>
              <%= f.input :major_publication, label: false %>
            </div>
          </div>
        <% else %>
          <div class="publication-profil-input">
            <%= f.input :content, label: false, placeholder: "Écrivez & Appuyez Sur Entrée" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <!-- </div> -->


</div>

<%# content_for :after_js do %>
<!--   <script>
    // focusOnWrittingMessage();
    App['pousse_publication_<%#= company.id %>'] = App.cable.subscriptions.create(
      { channel: 'PoussePublicationChannel', pousse_publication_id: <%#= company.id %> },
      {
        received: (data) => {
          console.log('received');
          if (data.current_user_id !== <%#= current_user.id %>) {
            console.log('passed');
            const publicationsContainer = document.querySelector('.home-company-publications');
            console.log(publicationsContainer);
            publicationsContainer.insertAdjacentHTML('beforeend', data.publication_partial);
            scrollLastPublicationIntoView();
          }
        }
      }
    )
  </script> -->
<%# end %>


