

<div class="team-pousse-partial" data-company-id=<%= company.id %>>

  <div class="cover-title-pousse", style="background-image: url('<%= company.photo %>');background-repeat: no-repeat;background-position: center;background-size: cover;">
    <div class="pousse-cover-overlay">
      <h2><%= company.nom %></h2>
      <p><%= company.category.name %> (<%= company.address.split(",")[1].strip.capitalize %>)</p>
    </div>
  </div>

<!--   <div class="pousse-presentation">
    <p><%#= simple_format(company.presentation.strip) %></p>
  </div> -->

  <div class="pousse-publication">
    <div class="pousse-publications">
      <% company.publications.order(:created_at).select(&:visible).each do |publication| %>
        <%= render "publications/publication", publication: publication, user_is_publication_author: current_user == publication.user, author_is_company_admin: publication.pouss.users.include?(publication.user), publication_is_major: publication.major_publication, class:"publication" %>
      <% end %>
    </div>
    <div class="pousse-create-publication">
      <%= simple_form_for [ company, Publication.new ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Écrivez & Appuyez Sur Entrée" %>
      <% end %>
    </div>

  </div>

</div>

