<p id="notice"><%= notice %></p>

<div class="row corps-gestion">
  <div class="col-5 modification-pousse-gestion">
    <h5 class="modification-gestion-title">Modifier Votre Pousse</h5>
    <%= render partial: 'companies/form', locals: { submittext: "Modifier Ma Pousse", company: @company, suffixe: "gestion" } %>
  </div>
  <div class="col-7 gestion-company-partiel">
    <%= render @company %>
  </div>
</div>



<% content_for :after_js do %>
  <script>

    scrollLastPublicationIntoView();
    // focusOnWrittingMessage();
    App['pousse_publication_<%= @company.id %>'] = App.cable.subscriptions.create(
      { channel: 'PoussePublicationChannel', pousse_publication_id: <%= @company.id %> },
      {
        received: (data) => {
          console.log(data);
          if (data.current_user_id !== <%= current_user.id %> & data.publications_pouss.id == <%= @company.id %>) {
            console.log(data.publications_pouss.id);
            const publicationsContainer = document.querySelector('[data-company-id="<%= @company.id %>"] .home-company-publications');
            if(publicationsContainer){
              publicationsContainer.insertAdjacentHTML('beforeend', data.publication_partial);
              scrollLastPublicationIntoView();
            }
          }
        }
      }
    )

  </script>
<% end %>
