<div class="container">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: :new_login}) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { id: :login_email, autocomplete: "email"} %>
                <!--   -->
    <%= f.input :password,
                required: false,
                input_html: { id: :login_password, autocomplete: "current-password" } %>
                <!-- autocomplete: "new-password" -->
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
  <% end %>

  <!-- ============================================================ -->

  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>

  <!-- ============================================================ -->

  <h2>Sign Up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autocomplete: 'nip'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: false, required: true, autofocus: true, placeholder: "Prénom", input_html: {autocomplete: 'nope'} %>

    <%= f.input :last_name, label: false, required: true, autofocus: true, placeholder: "Nom de Famille", input_html: {autocomplete: 'nope'} %>

    <%= f.input :address, label: false, required: true, autofocus: true, placeholder: "Adresse", input_html: {autocomplete: 'nope', id: :personnal_registration} %>

    <%= f.input :email, label: false, required: true, autofocus: true, placeholder: "Adresse Électronique Principale", input_html: { autocomplete: "nope" } %>
    <!-- autocomplete: 'email' -->

    <%= f.input :password, label: false, required: true, autofocus: true, placeholder: "Mot de Passe", input_html: { autocomplete: "new-password" }, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
    <!-- autocomplete: 'nope' -->

    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Rejoindre La French Pousse" %>
  </div>
  <% end %>
</div>



